/cache/*
/compiled/*
/config/config.php
/files/*
/files/brands/*
/files/categories/*
/files/downloads/*
/files/products/*
/files/tags/*
/files/uploads/*
/files/originals/*
!/files/brands/.htaccess
!/files/categories/.htaccess
!/files/downloads/.htaccess
!/files/products/.htaccess
!/files/tags/.htaccess
!/files/uploads/.htaccess
!/files/originals/.htaccess
/rassylka/*

/simpla/files/*
/simpla/backup/*
/simpla/export/*
/simpla/import/*
/simpla/export_users/*
/simpla/license/*
/simpla/watermark/*
/simpla/design/compiled/*

/uploads/*

robots.txt
sftp-config.json
!*.gitkeep
