@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,400italic);
* {
padding:0px;
margin:0px;}

article, aside, figure, footer, header, hgroup, nav, section, video {display:block;}

img {
border:0px;
}

table{
border:0px;
border-collapse:collapse;
}

td{
vertical-align:top;
}

.clear{
clear: both;    
}

body{
font-family: 'Open Sans', sans-serif;
font-size: 14px;

    &.body{
    background: #eee url(../images/bg.png) left top repeat;    
    }
}

.wrap{
width: 1020px;
margin: 0 auto;
position: relative;    
}

.even{
background: #f9f9f9;    
}

a{
color: #169fe6;

    &:hover{
    text-decoration: none;    
    }
}

h1{
margin: 20px;  
font-size: 2em;
font-weight: normal;
color: #333;
}

h2{
margin: 20px;  
font-size: 1.6em;
font-weight: normal;
color: #333;
}

h3{
margin: 20px;  
font-size: 1.4em;
font-weight: normal;
color: #333;
}

header{
min-height: 116px;
border-top: solid 5px #03a9f4;
background: #fff;

    .logo{
    float: left;
    margin: 40px 20px 20px 20px;
    width: 225px;
    text-decoration: none;
    color: #333;
    
        img{
        width: 223px; 
        display: block;
        }
        
        span{
        font-size: 0.85em;
        
            i{
            margin: 0 4px;
            color: #03a9f4;
            }
        }
    }
    
    #search{
    float: left;
    margin: 40px 20px 20px 20px;
    
        .input_search{
        border: solid 1px #ccc;
        padding: 10px 5px;
        width: 270px;
        }
        
        .button_search{
        background: #03a9f4;
        border: none medium;
        color: #fff;
        padding: 10px;
        cursor: pointer;
        height: 38px;
        
            &:hover{
            background: #0288d1;    
            }
        }
    }
    
    #contact{
    float: right;
    margin: 35px 23px 20px 20px;
    font-size: 1.8em;
    
        i{
        display: inline-block;
        vertical-align: middle;
        margin: 0 10px 0 0;
        font-size: 1.5em;
        background: #03a9f4;
        color: #fff;
        padding: 5px 10px;
        border-radius: 60px;
        }
        
        span{
        display: inline-block;
        vertical-align: middle;            
        }
    }
}

nav{
background: #4c4c4c;
margin: 0;
position: relative;

    ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    top: 0;

        li{
        display: inline-block;
        vertical-align: top;
        position: relative;
        text-align: center;
        border-right: solid 1px #666;
        
            &:hover ul{
            display: block;    
            }
            
            &:last-child{
            border-right: none;    
            }
            
            a{
            display: block;
            padding: 15px 17px;
            color: #fff;
            text-decoration: none;
            
                &:hover{
                background: #707070;    
                }
                
                i{
                margin: 0 5px 0 0;    
                }
            }
       
            ul{
            display: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 250px;
            background: #fff;
            border: solid 1px #ccc;
            z-index: 100;
            margin: 49px 0 0 0;

                li{
                display: block;
                text-align: left;
                min-width: none;
                max-width: none;
                border-right: none;

                    &:hover ul{
                    display: block!important;    
                    }

                    a{
                    display: block;
                    color: #777;
                    border-top: solid 1px #e6e6e6;
                    padding: 10px;
                    
                        &:hover{
                        background: #f5f5f5;    
                        }
                    }
                    
                    ul{
                    display: none!important;
                    position: absolute;
                    left:250px; 
                    top: 0;
                    margin: 0;
                    }
                }
            }
        }
    }
}

article{
    
    p{
    margin: 20px;    
    }
    
    .aside-main{
    display: block;
    margin: 40px 0;
    
        a{
        display: inline-block;
        vertical-align: top;
        width: 408px;
        margin: 0 20px;
        font-size: 1.5em;
        background: #1e88e5;
        color: #fff;
        padding: 20px;
        text-decoration: none;
        
            &:hover{
            background: #9c27b0;    
            }
        
            i{
            margin: 0 20px 0 0;
            displai: inline-block;
            vertical-align: middle;
            font-size: 2.5em;
            }

            &.no-right{
            margin-right: 20px;
            margin-left: 60px;
            }
        }
    }
}

.products{
margin: 20px;

    li{
    display: inline-block;
    vertical-align: top;
    width: 313px;
    height: 327px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0 13px 13px 0;
    background: #fff;
    
        &:nth-child(3n){
        margin-right: 0;    
        }
        
        a{
           text-decoration: none; 
           color: #333;
           display: block;

               &:hover span{
               border-top: solid 5px #1e88e5;    
               }

               &:hover img{
               opacity: 0.7; 
               transition: opacity 180ms easy-in-out 0s;
               transition-duration: 0.3s;
               }
           }
                
        div{
        overflow: hidden;
        text-align: center;
        height: 250px;
        line-height: 250px;
        display: block;
        
           img{
           line-height: 250px;
           vertical-align: middle;
           margin: 0 auto;
           }
        }
        
        span{
        display: block;
        padding: 6px 10px 5px 10px;
        border-top: solid 5px #e5e5e5;
        overflow: hidden;
        font-weight: 600;
        text-align: center;  
        height: 60px;
        }
    }
}

.subnav{
margin: 20px;

    li{
    display: inline-block;
    vertical-align: top;
    width: 313px;
    height: 316px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0 13px 13px 0;
    background: #fff;
    
        &:nth-child(3n){
        margin-right: 0;    
        }
        
        a{
           text-decoration: none; 
           color: #333;
           display: block;

               &:hover span{
               border-top: solid 5px #1e88e5;    
               }

               &:hover img{
               opacity: 0.7; 
               transition: opacity 180ms easy-in-out 0s;
               transition-duration: 0.3s;
               }
           }
                
        div{
        overflow: hidden;
        text-align: center;
        height: 250px;
        line-height: 250px;
        display: block;
        
           img{
           line-height: 250px;
           vertical-align: middle;
           margin: 0 auto;
           width: 250px;
           }
        }
        
        span{
        display: block;
        padding: 10px 10px 5px 10px;
        border-top: solid 5px #e5e5e5;
        overflow: hidden;
        font-weight: 600;
        text-align: center;
        }
    }
}

#blog_menu, #blog{
margin: 20px;

    li{
    display: inline-block;
    vertical-align: top;
    width: 315px;
    height: 305px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0 13px 13px 0;
    background: #fff;
    
        &:last-child{
        margin-right: 0;    
        }
        
        &:nth-child(3n){
        margin-right: 0;    
        }
        
        a{
        text-decoration: none; 
        color: #333;
        
            &:hover span{
            border-top: solid 5px #1e88e5;    
            }
            
            &:hover img{
            opacity: 0.7; 
            transition: opacity 180ms easy-in-out 0s;
            transition-duration: 0.3s;
            }
        }
        
        div{
        overflow: hidden;
        text-align: center;
        height: 220px;
        
            img{
            height: 220px;  
            }
        }
        
        span{
        display: block;
        padding: 10px 10px 5px 10px;
        border-top: solid 5px #e5e5e5;
        max-height: 40px;
        overflow: hidden;
        }
        
        time{
        display: block;
        margin: 0 10px 5px 10px;
        text-align: right;
        color: #888;
        }
    }
    
    ins{
    display: block;
    margin: 7px 0 0 0;
    text-decoration: none;
    
        i{
        display: inline-block;
        vertical-align: middle;
        color: #fff;
        margin: 0 7px 0 0;
        background: #03a9f4;
        padding: 8px 7px;
        width: 23px;
        font-size: 1.5em;
        text-align: center;
        border-radius: 60px;
        }
    }
}

.partners{
margin: 20px;

    li{
    display: inline-block;
    vertical-align: top;
    width: 111px;
    height: 80px;
    border-top: solid 1px #e5e5e5;
    border-right: solid 1px #e5e5e5;
    border-bottom: solid 1px #e5e5e5;
    border-left: none;
    vertical-align: middle;
    margin: 0;
    padding: 5px;  
    background: #fff;
    
        &:first-child{
        border-left: solid 1px #e5e5e5;
        }
    
        a{
        display: block;
        text-align: center;
        line-height: 80px;
        }
        
        img{
        line-height: 80px;
        vertical-align: middle;
        width: 101px;
        }  
    }
}

footer{
    
    section{
    background: #4c4c4c;
    height: 275px;
    width: 1020px;
    margin: 0 auto;
    position: relative;
    
        div{
        display: inline-block;
        vertical-align: top;
        width: 257px;
        padding: 10px 40px 10px 20px;
        border-right: solid 1px #757575;
        min-height: 217px;
        margin: 20px 0 0 0;
        color: #fff;
        
            img{
            width: 245px;
            }
            
            del{
            display: block;
            
                img{
                width: auto; 
                margin: 10px 0 0 0;
                }
            }
        }

        ul{
        display: inline-block;
        vertical-align: top;
        width: 330px;
        padding: 10px 20px 10px 40px;
        border-right: solid 1px #757575;
        min-height: 217px;
        margin: 20px 0 0 0;
        color: #fff;

        
            &.no-border{
            border-right: none;    
            }
            
            &.info{
            width: 249px;    
            }

            li{
            list-style: none;
            margin: 0 0 10px 0;
            
                i{
                display: inline-block;
                vertical-align: top;
                font-size: 1.5em;
                border: solid 1px #fff;
                padding: 6px 5px;
                border-radius: 60px;
                margin: 0 15px 0 0;
                width: 15px;
                text-align: center;
                }
                
                ins{
                text-decoration: none;
                display: inline-block;
                vertical-align: top;
                width: 250px;
                }
            }
            
            a{
            color: #fff;    
            }
            
            span{
            font-size: 1.3em;
            font-weight: 500;
            margin: 0 0 15px 0;
            display: block;
            }
        }
    }
    
    p{
    display: block;
    background: #00a77f;
    padding: 15px 20px;
    color: #fff;
    width: 950px;
    margin: 0 auto;
    position: relative;
    }
    
    .wrapf{
    background: #00a77f; 
    }
    
    .wraps{
    background: #4c4c4c;    
    }
}

#path{
margin: 20px;   
}

div.product{
margin: 20px 0;

    .image{
    width: 480px;
    height: 360px;
    display: inline-block;
    vertical-align: top;
    border: solid 1px #ccc;
    text-align: center;
    margin: 0 0 0 20px;
    background: #fff;
    overflow: hidden;
    
        a{
        display: block;
        line-height: 360px;
        overflow: hidden;
        
            img{
            margin: 0 auto;
            line-height: 360px;
            vertical-align: middle;
            }
        }
    }
    
    .images{
    width: 500px;
    display: inline-block;
    vertical-align: top; 
    margin: 0 0px 20px 10px;
    
        a{
        width: 152px;
        height: 123px;
        margin: 0 10px 10px 0;
        display: inline-block;
        vertical-align: top;
        border: solid 1px #ccc;
        line-height: 123px;
        text-align: center;
        background: #fff;
        
            img{
            margin: 0 auto;
            line-height: 123px;
            vertical-align: middle;
            }        
        }
    }
    
    table.features{
    margin: 20px;
    width: 93%;
    
        td{
        padding: 10px;
        border: solid 1px #ccc;
        text-align: center;
        
            &:first-child{
            text-align: left;    
            }
        }
        
        th{
        padding: 10px;
        border: solid 1px #ccc;
        font-weight: bold;
        }        
    }
    
    .configurator{
    margin: 20px;    
    }
    
    .ul{
    margin: 20px 20px 0 40px;    
    }
    
    ul.schema{
    margin: 20px;
    
        li{
        display: inline-block;
        vertical-align: top;
        width: 225px;
        border: solid 1px #ccc;
        margin: 0 10px 10px 0;
        text-align: center;
        background: #fff;
        
            &:nth-child(4n){
            margin-right: 0;    
            }
        
            a{
            display: block;
            line-height: 225px;
            height: 225px;
            overflow: hidden;

                img{
                margin: 0 auto;
                line-height: 225px;
                vertical-align: middle;  
                height: 200px;
                }    
            }
        }
    }
    
    .table-block{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin: 0;
    
        table{
        width: 92%;
        margin: 21px 10px 20px 20px;
        }
    }
}

#back_forward{
margin: 20px;

    .prev{
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 20px 0 0;
    }

    .next{
    display: inline-block;
    vertical-align: top;
    width: 49%;
    margin: 0;
    text-align: right;
    }
}

.price-sheet{
margin: 20px;
text-align: right;
    
    a{
    font-size: 1.1em; 
    margin: 0 8px 0 20px;
    display: inline-block;
    padding: 8px 10px;
    border: solid 1px #333;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    
        &:hover{
        border-color: #03a9f4;    
        }
    }
}

.configurator{
margin: 20px 0;

    table{
    width: 100%;    
    }
    
    td{
    padding: 10px;
    border-bottom: solid 1px #ccc;
    vertical-align: middle;
    
        img{
        border: solid 1px #ccc;  
        }
        
        &.itogo{
        font-weight: 500;
        text-align: right;
        }
        
        &.rub{
        font-weight: 500;
        text-align: center; 
        font-size: 1.5em;
        }
        
        &.euro{
        font-weight: 500;
        text-align: center;
        font-size: 1.5em;
        }
        
        &:last-child{
        text-align: center;   
        }
        
        &:nth-child(4n){
        text-align: center;    
        }
    }
    
    .button{
    font-size: 1.1em; 
    margin: 0 8px 0 0;
    display: inline-block;
    padding: 8px 10px;
    border: solid 1px #333;
    border-radius: 5px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    
        &:hover{
        border-color: #03a9f4;    
        }
    }
    
    p{
    margin: 20px 0;
    text-align: right;
    }
}

.another-products{
width: 95%;
margin: 20px;

    td{
    padding: 5px;
    border: solid 1px #ccc;
    vertical-align: middle;
    
        &:first-child{
        width: 60px; 
        text-align: center;
        }
        
        &:last-child{
        text-align: center;    
        }
        
        &:nth-child(3n){
        text-align: center;    
        }
        
    }
    
    th{
    padding: 5px;
    border: solid 1px #ccc;
    vertical-align: middle;
    font-weight: normal;
    text-align: center;
    color: #333;
    }
    
    div.image{
    width: 50px;
    line-height: 50px;
    height: 50px;
    text-align: center;
    border: solid 1px #ccc;
    background: #fff;

        img{
        line-height: 50px;
        vertical-align: middle;
        margin: 0 auto;
        }
    }
}

#catalog-ral{
float:left;
margin-left:20px;
}
* html #catalog-ral{
margin-right:20px;
}
#catalog-ral li{
float:left;
display:inline;
list-style:none;
font-weight:bold;
cursor:pointer;
padding:15px 19px;
border:solid 1px #666;
margin: 0 10px 10px 0;
text-shadow: 0 1px 1px #000;
color: #fff;
}
#catalog-ral li:hover{
color:#ff0000;
}
#catalog-ral-overlay{
display:none;
position:absolute;
width:100%;
top:0px;
left:0px;
z-index:100;
}
#catalog-ral-lightbox{
display:none;
position:absolute;
z-index:1000;
height:170px;
width:400px;
left:50%;
top:50%;
margin-left: -202px;
margin-top:-152px;
background:#FFF;
cursor:pointer;
border:solid 2px #FFF;
color:#FFF;
font-size:50px;
line-height:50px;
text-align:center;
padding-top:110px;
}
#map{
margin: 20px;
border: solid 1px #ccc;
}

.vcard{
margin: 20px;

    .org{
    font-weight: bold;    
    }
}

.ul{
margin: 20px 20px 20px 35px;    
}

.video{
margin: 0 40px 50px 20px;
display: inline-block;
vertical-align: top;
width: 450px;

    frame{
    display: block;
    margin: 0 0 5px 0;
    }
}

.fotogallery{
margin: 20px;

    li{
    display: inline-block;
    vertical-align: top;
    width: 313px;
    height: 327px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    margin: 0 13px 13px 0;
    background: #fff;
    
        &:nth-child(3n){
        margin-right: 0;    
        }
        
        a{
           text-decoration: none; 
           color: #333;
           display: block;

               &:hover span{
               border-top: solid 5px #1e88e5;    
               }

               &:hover img{
               opacity: 0.7; 
               transition: opacity 180ms easy-in-out 0s;
               transition-duration: 0.3s;
               }
           }
                
        ins{
        overflow: hidden;
        text-align: center;
        height: 250px;
        line-height: 250px;
        display: block;
        text-decoration: none;
        
           img{
           line-height: 250px;
           vertical-align: middle;
           margin: 0 auto;
           border: none medium;
           display: block;
           }
        }
        
        span{
        display: block;
        padding: 6px 10px 5px 10px;
        border-top: solid 5px #e5e5e5;
        overflow: hidden;
        font-weight: 600;
        text-align: center;  
        height: 60px;
        }
    }
}

.picturelist{
margin: 20px;

    li{
    display: inline-block;
    vertical-align: top;
    width: 235px;
    height: 156px;
    border: solid 1px #ccc;
    margin: 0 10px 10px 0;
    overflow: hidden;
    background: #fff;
    text-align: center;
    
        &:nth-child(4n){
        margin-right: 0;    
        }
        
        a{
        display: block;
        overflow: hidden;
        }
        
        img{
        display: block;   
        margin: 0 auto;
        }
    }
}